nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-right: auto;
    text-decoration: none;
    color: #fff;
}
Button:hover{
    color: #f17b7b;
}
Button:focus{
    color: #f17b7b;
    text-decoration: underline;
}
img{
    height: 50px;
}